<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Index</h3>
    </div>
    <div class="panel-body">
        <form action="" method="post" role="form">
            <legend>Form Title</legend>

            <div class="form-group">
                <label for=""></label>
                <input type="text" class="form-control" name="" id="" placeholder="Input...">
            </div>

            

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>.
    </div>
</div>